In [129]:
import pandas as pd
import json
credits = pd.read_csv('../data/tmdb_5000_credits.csv')
movies = pd.read_csv('../data/tmdb_5000_movies.csv')

In [130]:
def create_df(row, field_name, pk_name, fk_name):
    df = pd.json_normalize(json.loads(row[field_name]))
    if df.size:
        df.insert(0, fk_name, row[pk_name])
    return df

cast = pd.concat(credits.apply(lambda x: create_df(
    x, 'cast', 'movie_id', 'movie_id'), axis=1).tolist())
crew = pd.concat(credits.apply(lambda x: create_df(
    x, 'crew', 'movie_id', 'movie_id'), axis=1).tolist())
genres = pd.concat(movies.apply(
    lambda x: create_df(x, 'genres', 'id', 'movie_id'), axis=1).tolist())
keywords = pd.concat(movies.apply(
    lambda x: create_df(x, 'keywords', 'id', 'movie_id'), axis=1).tolist())
production_companies = pd.concat(movies.apply(
    lambda x: create_df(x, 'production_companies', 'id', 'movie_id'), axis=1).tolist())
spoken_languages = pd.concat(movies.apply(
    lambda x: create_df(x, 'spoken_languages', 'id', 'movie_id'), axis=1).tolist())
production_countries = pd.concat(movies.apply(
    lambda x: create_df(x, 'production_countries', 'id', 'movie_id'), axis=1).tolist())
credits = credits.drop(['cast', 'crew'], axis=1)
cast = cast.drop(['cast_id', 'credit_id', 'id'], axis=1)
crew = crew.drop(['credit_id', 'id'], axis=1)
genres = genres.drop(['id'], axis=1)
keywords = keywords.drop(['id'], axis=1)
production_companies = production_companies.drop(['id'], axis=1)
movies = movies.drop(['genres', 'keywords', 'production_companies',
                      'spoken_languages', 'production_countries', 'overview', 'tagline', 'homepage', 'original_title'], axis=1)

In [170]:
cast = cast.drop(['cast_id', 'credit_id', 'id'], axis=1)
crew = crew.drop(['credit_id', 'id'], axis=1)
genres = genres.drop(['id'], axis=1)
keywords = keywords.drop(['id'], axis=1)
production_companies = production_companies.drop(['id'], axis=1)
movies = movies.drop(['overview', 'tagline', 'homepage', 'original_title'], axis=1)

,budget,id,original_language,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count
0,237000000,19995,en,150.437577,2009-12-10,2787965087,162.0,Released,Avatar,7.2,11800
1,300000000,285,en,139.082615,2007-05-19,961000000,169.0,Released,Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,206647,en,107.376788,2015-10-26,880674609,148.0,Released,Spectre,6.3,4466
3,250000000,49026,en,112.312950,2012-07-16,1084939099,165.0,Released,The Dark Knight Rises,7.6,9106
4,260000000,49529,en,43.926995,2012-03-07,284139100,132.0,Released,John Carter,6.1,2124

In [189]:
from datasloth import DataSloth
sloth = DataSloth()
sloth.query("What year was the first movie made in")

  first_year
0       1916

In [186]:
sloth.show_last_query()

SELECT title, popularity
FROM movies
JOIN credits ON credits.movie_id = movies.id
WHERE name = 'Sigourney Weaver'
ORDER BY popularity DESC
LIMIT 1